# 阿里云配置
ALIYUN_AK_ID=
ALIYUN_AK_SECRET=
ALI_APPKEY=
ALI_URL=

# 阿里云百炼配置
DASHSCOPE_API_KEY=
ALIYUN_LLM_API_URL=
ALIYUN_LLM_MODEL=

# 日志配置
LOG_LEVEL=INFO
LOG_TO_FILE=true
LOG_FILE_PATH=logs
LOG_FILE_MAX_SIZE=1048576
LOG_FILE_BACKUP_COUNT=3

OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_ENDPOINT=
OSS_REGION=
OSS_BUCKET_NAME=

CAPTURE_DEVICE=